#logo {
	float: right;
}

#banner {
	float: left;
	text-align: left;
}

#header div.search {
	float: left;
}

#nav ul, #nav li {
	float: right;
}

#nav li {
	margin: 0 0 0 15px;
}
	
#nav ul li ul {
	right: 0;
}

#nav ul li ul li a {
	text-align: right;
}

#nav ul li ul li.deeper > a {
	background: url("img/arrow-right.png") no-repeat left center;
}

#nav ul li ul li.deeper > a:hover,
#nav ul li.active.current ul li.deeper > a:hover {
	background: url("img/arrow-right.png") no-repeat left center #ccc;
}

#nav ul li ul li ul {
	right: 90%;
}

#copyright {
	float: right;
}

#footermenu {
	float: left;
	text-align: right;
}

#sidebar ul.menu li a:link,
#sidebar ul.menu li a:visited {
	padding: 8px 30px 8px 8px;
	background: url("img/arrow-right.png") no-repeat 95% center;
}

#sidebar ul.menu li a:hover {
	background: url("img/arrow-right.png") no-repeat 95% center #eee;
}

#sidebar ul.menu li ul li a:link,
#sidebar ul.menu li ul li a:visited {
	padding-right: 35px;
	padding-left: 0;
	margin-right: 8px;
	background: url("img/arrow-right.png") no-repeat 92% center #eee;
}

#sidebar ul.menu li ul li ul li a:link,
#sidebar ul.menu li ul li ul li a:visited {
	padding-right: 45px;
	padding-left: 0;
	background: url("img/arrow-right.png") no-repeat 90% center #f8f8f8;
}

#sidebar ul.menu li ul li ul li ul li a:link,
#sidebar ul.menu li ul li ul li ul li a:visited {
	padding-right: 55px;
	padding-left: 0;
	background: url("img/arrow-right.png") no-repeat 85% center #f8f8f8;
}

#sidebar ul.menu li ul li ul li ul li ul li a:link,
#sidebar ul.menu li ul li ul li ul li ul li a:visited {
	padding-right: 65px;
	padding-left: 0;
	background: url("img/arrow-right.png") no-repeat 82% center #f8f8f8;
}

#sidebar ul.menu li ul li ul li ul li ul li ul li a:link,
#sidebar ul.menu li ul li ul li ul li ul li ul li a:visited {
	padding-right: 75px;
	padding-left: 0;
	background: url("img/arrow-right.png") no-repeat 80% center #f8f8f8;
}

.cols-2 .column-1,
.cols-2 .column-2,
.cols-3 .column-1,
.cols-3 .column-2,
.cols-3 .column-3 {
  float: right;
}