/**************************************************
  Generic styles
***************************************************/
a:link,
a:visited {
  color: #800000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.dark-bg a:link,
.dark-bg a:visited {
  color: #fff;
}
.dark-bg a:hover {
  color: #eee;
}
.theme-bg a:link,
.theme-bg a:visited {
  color: #fff;
}
.theme-bg a:hover {
  color: #eee;
}
/**************************************************
  Layout styles
***************************************************/
.theme-bg {
  background: #b30000;
  color: #fff;
}
.theme-bg.header-wrapper,
.theme-bg.showcase-top-wrapper {
  border-bottom: solid 1px #670000;
}
.theme-bg.footer-wrapper,
.theme-bg.showcase-bottom-wrapper {
  border-top: solid 1px #670000;
}
/**************************************************
  Module styles
***************************************************/
.box .mod-inner,
.box-rounded .mod-inner {
  color: #eee;
  background-color: #7a0000;
  background-image: -moz-linear-gradient(top, #800000, #710000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#800000), to(#710000));
  background-image: -webkit-linear-gradient(top, #800000, #710000);
  background-image: -o-linear-gradient(top, #800000, #710000);
  background-image: linear-gradient(to bottom, #800000, #710000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff800000', endColorstr='#ff710000', GradientType=0);
}
.box .mod-inner a:link,
.box .mod-inner a:visited,
.box-dark .mod-inner a:link,
.box-dark .mod-inner a:visited,
.box-rounded .mod-inner a:link,
.box-rounded .mod-inner a:visited,
.box-rounded-dark .mod-inner a:link,
.box-rounded-dark .mod-inner a:visited {
  color: #fff;
}
.box .mod-inner a:hover,
.box-dark .mod-inner a:hover,
.box-rounded .mod-inner a:hover,
.box-rounded-dark .mod-inner a:hover {
  color: #eee;
}
.titlebar .mod-title,
.titlebar-rounded .mod-title {
  background: #800000;
  color: #fff;
}
.titlebar-outside .mod-title,
.titlebar-rounded-outside .mod-title {
  background: #800000;
  color: #fff;
}
/**************************************************
  Menu styles
***************************************************/
/* Simple Horizontal menu */
[class^="menu-horiz-simple"] > li.active > a,
[class^="menu-horiz-simple"] > li > a:hover,
[class^="menu-horiz-simple"] > li:hover > a {
  background: #b30000;
}
/* Horizontal buttons menu */
[class^="menu-horiz-buttons"] > li > a {
  background: #b30000;
}
[class^="menu-horiz-buttons"] > li.active > a,
[class^="menu-horiz-buttons"] > li > a:hover,
[class^="menu-horiz-buttons"] > li:hover > a {
  background: #670000;
}
/* Horizontal bar */
ul[class^="menu-horiz-bar"] {
  background-color: #b30000;
}
[class^="menu-horiz-bar"] > li.active > a,
[class^="menu-horiz-bar"] > li > a:hover,
[class^="menu-horiz-bar"] > li:hover > a,
[class^="menu-horiz-bar"] > li:hover ul li:hover > a {
  background-color: #670000;
}
[class^="menu-horiz-bar"] li > ul li {
  background-color: #b30000;
  border-top: 1px solid #cd0000;
  border-bottom: 1px solid #670000;
}
[class^="menu-horiz-bar"] li:hover > ul li a:hover {
  background-color: #670000;
}
ul[class^="menu-horiz-bar"] .menu-module .menu-module-inner {
  background-color: #b30000;
}
/* Horizontal gradient bar */
ul[class^="menu-horiz-gradientbar"] {
  background-color: #7f0000;
  background-image: -moz-linear-gradient(top, #9a0000, #570000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9a0000), to(#570000));
  background-image: -webkit-linear-gradient(top, #9a0000, #570000);
  background-image: -o-linear-gradient(top, #9a0000, #570000);
  background-image: linear-gradient(to bottom, #9a0000, #570000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a0000', endColorstr='#ff570000', GradientType=0);
  border: 1px solid #800000;
}
[class^="menu-horiz-gradientbar"] > li.active > a,
[class^="menu-horiz-gradientbar"] > li > a:hover,
[class^="menu-horiz-gradientbar"] > li:hover > a {
  border: 1px solid #4d0000;
  background-color: #6c0000;
  background-image: -moz-linear-gradient(top, #4d0000, #9a0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d0000), to(#9a0000));
  background-image: -webkit-linear-gradient(top, #4d0000, #9a0000);
  background-image: -o-linear-gradient(top, #4d0000, #9a0000);
  background-image: linear-gradient(to bottom, #4d0000, #9a0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d0000', endColorstr='#ff9a0000', GradientType=0);
}
[class^="menu-horiz-gradientbar"] > li:hover ul li:hover > a {
  background-color: #670000;
}
[class^="menu-horiz-gradientbar"] li > ul li {
  background-color: #b30000;
  border-top: 1px solid #cd0000;
  border-bottom: 1px solid #670000;
}
[class^="menu-horiz-gradientbar"] li:hover > ul li a:hover {
  background-color: #670000;
}
ul[class^="menu-horiz-gradientbar"] .menu-module .menu-module-inner {
  background-color: #b30000;
}
/* 2 Row Horizontal menu */
ul[class^="menu-horiz-tworow"] {
  background-color: #670000;
}
[class^="menu-horiz-tworow"] > li.active > a,
[class^="menu-horiz-tworow"] > li > a:hover,
[class^="menu-horiz-tworow"] > li:hover > a,
[class^="menu-horiz-tworow"] > li:hover ul li:hover > a {
  background-color: #b30000;
}
[class^="menu-horiz-tworow"] li > ul {
  background-color: #b30000;
}
[class^="menu-horiz-tworow"] li > ul > li {
  background-color: #b30000;
}
/* Vertical menu */
.box .menu-vertical li a:hover,
.box-rounded .menu-vertical li a:hover {
  color: #fff;
  background: #670000;
}
.box .menu-vertical li ul li a:hover,
.box-rounded .menu-vertical li ul li a:hover {
  background: url("../img/arrow-white.png") no-repeat 5px center #670000;
}
.rtl .box .menu-vertical li ul li a:hover,
.rtl .box-rounded .menu-vertical li ul li a:hover {
  background: url("../img/arrow-left-white.png") no-repeat right center #670000;
}
/* Mobile navigation */
.mobile-menu-toggle {
  background: #670000;
}
ul.mobile-menu {
  background: #800000;
  color: #fff;
}
ul.mobile-menu li a:hover {
  background: #670000;
  text-decoration: none;
}
ul.mobile-menu li ul li a:hover {
  background: url("../img/arrow-white.png") no-repeat 5px center #670000;
}
.rtl ul.mobile-menu li ul li a:hover {
  background: url("../img/arrow-left-white.png") no-repeat right center #670000;
}
