/**************************************************
  Generic styles
***************************************************/
a:link,
a:visited {
  color: #c3325f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.dark-bg a:link,
.dark-bg a:visited {
  color: #fff;
}
.dark-bg a:hover {
  color: #eee;
}
.theme-bg a:link,
.theme-bg a:visited {
  color: #fff;
}
.theme-bg a:hover {
  color: #eee;
}
/**************************************************
  Layout styles
***************************************************/
.theme-bg {
  background: #d3557c;
  color: #fff;
}
.theme-bg.header-wrapper,
.theme-bg.showcase-top-wrapper {
  border-bottom: solid 1px #af2d55;
}
.theme-bg.footer-wrapper,
.theme-bg.showcase-bottom-wrapper {
  border-top: solid 1px #af2d55;
}
/**************************************************
  Module styles
***************************************************/
.box .mod-inner,
.box-rounded .mod-inner {
  color: #eee;
  background-color: #be315d;
  background-image: -moz-linear-gradient(top, #c3325f, #b72f59);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3325f), to(#b72f59));
  background-image: -webkit-linear-gradient(top, #c3325f, #b72f59);
  background-image: -o-linear-gradient(top, #c3325f, #b72f59);
  background-image: linear-gradient(to bottom, #c3325f, #b72f59);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc3325f', endColorstr='#ffb72f59', GradientType=0);
}
.box .mod-inner a:link,
.box .mod-inner a:visited,
.box-dark .mod-inner a:link,
.box-dark .mod-inner a:visited,
.box-rounded .mod-inner a:link,
.box-rounded .mod-inner a:visited,
.box-rounded-dark .mod-inner a:link,
.box-rounded-dark .mod-inner a:visited {
  color: #fff;
}
.box .mod-inner a:hover,
.box-dark .mod-inner a:hover,
.box-rounded .mod-inner a:hover,
.box-rounded-dark .mod-inner a:hover {
  color: #eee;
}
.titlebar .mod-title,
.titlebar-rounded .mod-title {
  background: #c3325f;
  color: #fff;
}
.titlebar-outside .mod-title,
.titlebar-rounded-outside .mod-title {
  background: #c3325f;
  color: #fff;
}
/**************************************************
  Menu styles
***************************************************/
/* Simple Horizontal menu */
[class^="menu-horiz-simple"] > li.active > a,
[class^="menu-horiz-simple"] > li > a:hover,
[class^="menu-horiz-simple"] > li:hover > a {
  background: #d3557c;
}
/* Horizontal buttons menu */
[class^="menu-horiz-buttons"] > li > a {
  background: #d3557c;
}
[class^="menu-horiz-buttons"] > li.active > a,
[class^="menu-horiz-buttons"] > li > a:hover,
[class^="menu-horiz-buttons"] > li:hover > a {
  background: #af2d55;
}
/* Horizontal bar */
ul[class^="menu-horiz-bar"] {
  background-color: #d3557c;
}
[class^="menu-horiz-bar"] > li.active > a,
[class^="menu-horiz-bar"] > li > a:hover,
[class^="menu-horiz-bar"] > li:hover > a,
[class^="menu-horiz-bar"] > li:hover ul li:hover > a {
  background-color: #af2d55;
}
[class^="menu-horiz-bar"] li > ul li {
  background-color: #d3557c;
  border-top: 1px solid #d9698c;
  border-bottom: 1px solid #af2d55;
}
[class^="menu-horiz-bar"] li:hover > ul li a:hover {
  background-color: #af2d55;
}
ul[class^="menu-horiz-bar"] .menu-module .menu-module-inner {
  background-color: #d3557c;
}
/* Horizontal gradient bar */
ul[class^="menu-horiz-gradientbar"] {
  background-color: #bd3761;
  background-image: -moz-linear-gradient(top, #ce406c, #a32a4f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce406c), to(#a32a4f));
  background-image: -webkit-linear-gradient(top, #ce406c, #a32a4f);
  background-image: -o-linear-gradient(top, #ce406c, #a32a4f);
  background-image: linear-gradient(to bottom, #ce406c, #a32a4f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce406c', endColorstr='#ffa32a4f', GradientType=0);
  border: 1px solid #c3325f;
}
[class^="menu-horiz-gradientbar"] > li.active > a,
[class^="menu-horiz-gradientbar"] > li > a:hover,
[class^="menu-horiz-gradientbar"] > li:hover > a {
  border: 1px solid #9a284b;
  background-color: #af3258;
  background-image: -moz-linear-gradient(top, #9a284b, #ce406c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9a284b), to(#ce406c));
  background-image: -webkit-linear-gradient(top, #9a284b, #ce406c);
  background-image: -o-linear-gradient(top, #9a284b, #ce406c);
  background-image: linear-gradient(to bottom, #9a284b, #ce406c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a284b', endColorstr='#ffce406c', GradientType=0);
}
[class^="menu-horiz-gradientbar"] > li:hover ul li:hover > a {
  background-color: #af2d55;
}
[class^="menu-horiz-gradientbar"] li > ul li {
  background-color: #d3557c;
  border-top: 1px solid #d9698c;
  border-bottom: 1px solid #af2d55;
}
[class^="menu-horiz-gradientbar"] li:hover > ul li a:hover {
  background-color: #af2d55;
}
ul[class^="menu-horiz-gradientbar"] .menu-module .menu-module-inner {
  background-color: #d3557c;
}
/* 2 Row Horizontal menu */
ul[class^="menu-horiz-tworow"] {
  background-color: #af2d55;
}
[class^="menu-horiz-tworow"] > li.active > a,
[class^="menu-horiz-tworow"] > li > a:hover,
[class^="menu-horiz-tworow"] > li:hover > a,
[class^="menu-horiz-tworow"] > li:hover ul li:hover > a {
  background-color: #d3557c;
}
[class^="menu-horiz-tworow"] li > ul {
  background-color: #d3557c;
}
[class^="menu-horiz-tworow"] li > ul > li {
  background-color: #d3557c;
}
/* Vertical menu */
.box .menu-vertical li a:hover,
.box-rounded .menu-vertical li a:hover {
  color: #fff;
  background: #af2d55;
}
.box .menu-vertical li ul li a:hover,
.box-rounded .menu-vertical li ul li a:hover {
  background: url("../img/arrow-white.png") no-repeat 5px center #af2d55;
}
.rtl .box .menu-vertical li ul li a:hover,
.rtl .box-rounded .menu-vertical li ul li a:hover {
  background: url("../img/arrow-left-white.png") no-repeat right center #af2d55;
}
/* Mobile navigation */
.mobile-menu-toggle {
  background: #af2d55;
}
ul.mobile-menu {
  background: #c3325f;
  color: #fff;
}
ul.mobile-menu li a:hover {
  background: #af2d55;
  text-decoration: none;
}
ul.mobile-menu li ul li a:hover {
  background: url("../img/arrow-white.png") no-repeat 5px center #af2d55;
}
.rtl ul.mobile-menu li ul li a:hover {
  background: url("../img/arrow-left-white.png") no-repeat right center #af2d55;
}
