/* Add your custom styles here */

.header-wrapper {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #508bcf;
	background-color: #FFF;
}
.nav {
	background-color: #353536;
}
.nav [class^="menu-horiz-buttons"] > li > a {
	background-color: transparent;
	line-height: 67px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 17.95px;
}
.t {
}
.nav [class^="menu-horiz-buttons"] > li.active > a, .nav [class^="menu-horiz-buttons"] > li > a:hover, .nav [class^="menu-horiz-buttons"] > li:hover > a {
	color: #e1b23a !important;
	background-color: transparent;
	background-image: url(../images/corner-2014.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
 [class^="menu-horiz-"] > li {
 margin-bottom:0px;
 padding-bottom:0px;
}
.lista-servicios {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0px;
}
.lista-servicios li {
	display: inline-block;
	background-image: url(../images/exagono.jpg);
	height: 218px;
	width: 200px;
	vertical-align: top;
	position: relative;
}
.lista-servicios li.a:hover {
	background-image: url(../images/li-a.gif);
}
.lista-servicios li.b:hover {
	background-image: url(../images/li-b.gif);
}
.lista-servicios li.c:hover {
	background-image: url(../images/li-c.gif);
}
.home-banner {
	background-image: url(../images/home-principal.jpg);
	height: 447px;
	display: block;
	width: 100%;
	position: relative;
}
.lista-servicios li:hover h3 {
	display: none;
}
.lista-servicios li.b {
	margin-right: 170px;
	margin-left: 170px;
}
.lista-servicios li h3 {
	font-size: 14.62px;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	display: block;
	padding: 64px 20px;
}
.home-banner .b-negro {
	margin-top: 276px;
	margin-left: 213px;
	position: absolute;
}
.b-negro, .b-negro span, .b-amarillo, .b-amarillo span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
}
.b-negro {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #444444;
	border-right-color: #070707;
	border-bottom-color: #070707;
	border-left-color: #070707;
	display: inline-block;
}
.b-negro span {
	display: inline-block;
	background-image: url(../images/b-black-bg.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #5c5c5c;
	text-transform: uppercase;
	color: #FFF;
	padding-right: 27px;
	padding-left: 27px;
	font-size: 14px;
	font-weight: bold;
}
.b-amarillo {
	border: 1px solid #c69005;
}
.b-amarillo span {
	line-height: 52px;
	background-image: url(../images/b-yellow-bg.jpg);
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	font-size: 22.46px;
	border: 1px solid #f6d277;
	padding-right: 64px;
	padding-left: 64px;
}
.b-amarillo:hover span {
	background-color: #e1b23a;
	background-image: none;
}
.content-wrapper {
	padding-top: 0px;
}
.header-wrapper {
	padding-top: 0px;
}
/* pkonet traslate*/
.pkonet_traslate {
	display: block;
	width: 100%;
	text-align: right;
	padding-top: 10px;
	margin-bottom: 6px;
}
.menu-horiz-buttons-rounded li a {
	background-image: url(../images/b-top-yellow.gif);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 27px;
	background-color: transparent;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	text-transform: capitalize;
}
.menu-horiz-buttons-rounded li.active a, .menu_nav_active a.item-home-1 {
	background-image: url(../images/b-top-black.gif);
}
.light-bg.header-wrapper {
	border: none;
}
.item-page, .jr-page {
	padding-top: 75px;
}
.menu-item-beneficios .item-page h2, .item-page h2 {
	font-size: 25px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 60px;
}
.menu-item-beneficios .item-page h2 span {
	font-weight: bold;
}
.item-page {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.sub_instrucciones {
	background-color: #fdfdfd;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 38px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.cuadros, .jrFormChooser, .jrForm fieldset, .jrDataList {
	background-color: #fdfdfd;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 15px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.jrDataList {
	background-color: #fefefe;
	padding: 0px;
	margin-bottom: 24px;
}
.jrDataList > .jrDataListHeader {
	background-color: #4f8bce !important;
	color: #FFF;
	font-size: 15px;
	padding-top: 9px;
	padding-right: 16px;
	padding-bottom: 9px;
	padding-left: 16px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	box-shadow: none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.jrDataList > .jrDataListHeader .jr-paid-plan-row:last-child {
	border: none !important;
}
.jrDataList > * {
	border-bottom: 0px !important;
}
.sub_instrucciones h1 {
	font-size: 24px;
	font-weight: bold;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d4d4d4;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.sub_instrucciones ul {
	margin: 0px;
	padding: 0px;
}
.sub_instrucciones ul li {
	display: block;
	margin-bottom: 10px;
	background-image: url(../images/bulet-li.gif);
	background-position: left 10px;
	background-repeat: no-repeat;
	text-indent: 15px;
}
.sub_panel {
	background-image: url(../images/bg-subpanel.gif);
	padding: 17px;
}
.jrFormChooser .jrSelect {
	display: block;
	margin-bottom: 14px;
	-webkit-appearance: none;
	background-color: transparent;
	box-sizing: border-box;
	align-items: center;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	background-image: url(../images/select-corner.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 8px;
	padding-right: 45px;
	padding-bottom: 8px;
	padding-left: 8px;
	cursor: pointer;
}
option {
	font-weight: normal;
	font: inherit;
	margin-right: 42px;
	display: block;
	width: 80%;
}
.jrFormChooser .jrSelect option {
	margin-right: 42px;
	display: block;
	width: 80%;
}
.home-page .main-layer {
	background-color: #ededed;
	background-image: url(../images/bg-home-1.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.home-buscador {
	background: rgba(102,160,225,1);
	background: -moz-linear-gradient(top, rgba(102,160,225,1) 0%, rgba(78,123,191,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,160,225,1)), color-stop(100%, rgba(78,123,191,1)));
	background: -webkit-linear-gradient(top, rgba(102,160,225,1) 0%, rgba(78,123,191,1) 100%);
	background: -o-linear-gradient(top, rgba(102,160,225,1) 0%, rgba(78,123,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(102,160,225,1) 0%, rgba(78,123,191,1) 100%);
	background: linear-gradient(to bottom, rgba(102,160,225,1) 0%, rgba(78,123,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a0e1', endColorstr='#4e7bbf', GradientType=0 );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #375c93;
	margin: 30% 10%;
}
.home-buscador .jrRoundedPanel, .home-buscador .mod-title {
	background: none;
	border: none;
	font-size: 0px;
	padding: 5px 30px !important;
}
.home-buscador .mod-title {
	font-size: 20.68px;
	color: #FFF;
	font-family: Sintony;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.home-buscador .jrRoundedPanel select {
	display: none;
}
.home-buscador .jrRoundedPanel .mod-content {
}
.home-buscador button span, .home-buscador button [class^="jrIcon"]:before {
	color: #fff !important;
	font-size: 16px;
}
.home-buscador button, .home-buscador button:hover {
	background-image: url(../images/bg-button-amarillo.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-right: 17px;
	padding-left: 17px;
	font-size: 16px;
	line-height: 30px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: none;
	border: none;
	text-shadow: none;
	margin-top: 5px !important;
	background-color: #e7c05f;
}
.home-buscador button:hover {
	background-image: none;
	background-color: #e1b23a;
}
.home-buscador input {
	width: 93% !important;
	display: inline-block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	line-height: 30px !important;
}
.login-home {
	width: 90%;
	margin: auto;
	margin-top: 50px;
	display: block;
}
.login-home .mod-inner {
	position: relative;
}
.login-home input[type="text"], .login-home input[type="password"] {
	background-color: #ededf0;
	border: 1px solid #595959;
}
.login-home input[type="submit"] {
	background-image: url(../images/b-black-bg.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	border: 1px solid #333;
	color: #FFF;
	text-decoration: none;
	text-shadow: none;
	padding: 5px 25px;
}
.login-home .login-links {
	padding-bottom: 10px !important;
}
.login-home .login-links a {
	color: #353536;
	font-size: 12px;
}
.login-home .mod-inner .mod-content {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #999999;
	background-color: #FFF;
	padding-top: 35px;
	position: relative;
}
.login-home .mod-inner .mod-title {
	display: block;
	position: absolute;
	width: 105%;
	font-size: 21px;
	color: #FFF;
	background-color: #4f8bce;
	margin-top: 10px;
	margin-left: -2.5%;
	text-indent: 10%;
	z-index: 99;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.login-home .mod-inner .mod-title:before {
}
.login-home .mod-inner .mod-content form {
	width: 90%;
	margin: auto;
	position: inherit;
}
.corner-2 {
	position: absolute;
	/*background-image: url(../images/corner-2.png);*/
	height: 20px;
	display: block;
	width: 16px;
	background-repeat: no-repeat;
	top: -14px;
}
.ca {
	background-repeat: no-repeat;
	background-position: left top;
}
.cb {
	background-position: right top;
}
.deco-01 {
	position: absolute;
	background-image: url(../images/user-ko.png);
	display: block;
	height: 355px;
	width: 210px;
	bottom: 0px;
	right: -10px;
	z-index: 100;
}
.ultimas-empresas {
	margin-top: 5px;
}
.ultimas-empresas h3 {
	font-size: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	padding-left: 35px;
	background-image: url(../images/ultimas-empresas.png);
	background-position: left center;
	background-repeat: no-repeat;
	margin-bottom: 40px !important;
}
.ultimas-empresas .jrModuleItems .jrModuleItemThumbnail, .ultimas-empresas .jrModuleItems .jrModuleItemContent {
	display: block;
	width: 100%;
	clear: both;
}
.ultimas-empresas .jrModuleItems .jrModuleItemThumbnail img {
	margin: auto;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	border: 5px solid #4368a0;
}
.ultimas-empresas .jrModuleItems .jrModuleItemThumbnail a {
	background-image: url(../images/corner-enlace.png);
	background-position: center bottom;
	padding-bottom: 13px;
	background-repeat: no-repeat;
	text-align: center;
}
.ultimas-empresas .jrModuleItems .jrModuleItemThumbnail a:hover {
	background-image: url(../images/corner-enlace-hover.png);
}
.ultimas-empresas .jrModuleItems .jrModuleItemThumbnail a:hover img {
	border-color: #e1b23a;
}
.ultimas-empresas .jrModuleItems .jrModuleItemNumber {
	display: none;
}
.ultimas-empresas .jrModuleItems .jrModuleItem:hover a {
	color: #e1b23a !important;
}
.ultimas-empresas .jrModuleItems .jrModuleItemContent .jrModuleItemTitle a {
	text-align: center;
	display: block;
}
.ultimas-empresas .jrSliderSideArrows .bx-wrapper .bx-controls-direction a {
	height: 38px;
	width: 25px;
}
.ultimas-empresas .jrSliderSideArrows .bx-wrapper .bx-controls-direction a:hover {
	opacity: 0.7;
}
.ultimas-empresas .bx-wrapper .bx-prev {
	background-image: url(../images/flechas.png);
	background-repeat: no-repeat;
	background-position: left;
}
.ultimas-empresas .bx-wrapper .bx-next {
	background-image: url(../images/flechas.png);
	background-repeat: no-repeat;
	background-position: right;
}
.try-here-custom .jrFieldDiv.jrInfo, .login.login-page, .registration.profile-page {
	border: 20px solid #4a83c2;
	display: block;
	margin: auto;
	width: 80%;
	border-radius: 0px;
	background-color: #f7f7f7;
	color: #4f8bce;
	font-size: 24px;
	padding: 20px;
	text-align: center;
}
.login.login-page, .registration.profile-page {
	margin-top: 40px;
}
.login.login-page fieldset, .registration.profile-page fieldset {
	display: inline-block;
	margin: auto;
	vertical-align: top;
}
.registration.profile-page fieldset:first-child {
	border: none !important;
}
.registration.profile-page fieldset legend {
	display: block;
	position: relative;
	top: auto;
	left: 0px;
	right: 0px;
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.registration.profile-page fieldset {
	width: 40%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	padding-left: 5%;
}
.login.login-page fieldset .login-fields label {
	text-align: left;
	display: block;
}
.registration.profile-page fieldset dt, .registration.profile-page fieldset label, .registration.profile-page fieldset dd {
	text-align: left;
}
.login.login-page fieldset .login-fields .remember-label {
	float: left;
}
.login.login-page .login-links {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #C5C5C5;
	border-right-color: #C5C5C5;
	border-bottom-color: #C5C5C5;
	border-left-color: #C5C5C5;
	padding-top: 10px;
}
.try-here-custom .jrFieldDiv.jrInfo .jr-login-form {
	display: block;
	width: 80%;
	border: 1px solid #FFFFFF;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding: 2%;
}
.try-here-custom .jrFieldDiv.jrInfo .jr-login-form input {
	display: inline-block;
	width: 30%;
	vertical-align: top !important;
}
.try-here-custom .jrFieldDiv.jrInfo .jr-login-form input[type="submit"]:hover {
	background-image: none;
	background-color: #333;
}
.try-here-custom .jrFieldDiv.jrInfo .jr-login-form input[type="submit"], .login.login-page fieldset [type="submit"], .registration.profile-page [type="submit"], .registration.profile-page .button {
	background-image: url(../images/b-black-bg.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	border: 1px solid #333;
	color: #FFF;
	text-decoration: none;
	text-shadow: none;
	padding: 5px 25px;
}
.try-here-custom .jrFieldDiv.jrInfo a {
	background-image: url(../images/bg-button-amarillo.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-right: 17px;
	padding-left: 17px;
	font-size: 16px;
	line-height: 30px;
	color: #FFF !important;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: none;
	border: none;
	text-shadow: none;
	background-color: #e7c05f;
}
.try-here-custom .jrFieldDiv.jrInfo a:hover {
	background-color: #e7c05f;
	background-image: none;
}
/*---------------*/
	
	
.jr-page.jrPage.jrMyAccount {
	padding: 30px;
	background-color: #fff;
	border: solid 1px #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 40px;
}
.jr-page.jrPage.jrMyAccount .jrHeading:first-child {
	margin-top: 0px !important;
}
.jr-page.jrPage.jrMyAccount .jrHeading {
	margin: 0px !important;
	margin-top: 20px !important;
	font-size: 15.22px;
	color: #FFF;
	background-image: none;
	box-shadow: none;
	background-color: #4f8bce !important;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #d0d0d0;
	border-right-color: #d0d0d0;
	border-bottom-color: #d0d0d0;
	border-left-color: #d0d0d0;
}
.jr-page.jrPage.jrMyAccount .jrDataList {
	-webkit-border-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d0d0d0;
	border-right-color: #d0d0d0;
	border-bottom-color: #d0d0d0;
	border-left-color: #d0d0d0;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid.jrDataListHeader {
	background-color: #e9e9e9 !important;
	color: #353536;
	font-size: 15px;
	margin: 0px !important;
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jr-layout-outer.jrGrid {
	margin-top: 0px !important;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid:first-child {
	border: none !important;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid {
	background-color: transparent !important;
	padding: 20px;
	margin: 10px 26px !important;
	width: auto !important;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d0d0d0;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid .jr-paid-buy.jrButton.jrSmall:hover, .jr-page.jrPage.jrMyAccount .jrAddListing.jrButton:hover {
	background-color: #4ca6db;
	background-image: none;
}
.jr-page.jrPage.jrMyAccount .jrAddListing.jrButton {
	margin-top: 10px;
	margin-right: 45px;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid .jrStatusLabel.jrRed {
	line-height: 33px;
	background-image: url(../images/bg-amarillo-row.png);
	background-position: left top;
	font-size: 12px;
	color: #FFF;
	display: inline-block;
	padding: 0px 22px;
	text-transform: capitalize;
	margin-left: 20px;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid .jr-paid-buy.jrButton.jrSmall [class^="jrIcon"], .jr-page.jrPage.jrMyAccount .jrDataList .jrGrid .jr-paid-buy.jrButton.jrSmall [class^="jrIcon"]:before, .jr-page.jrPage.jrMyAccount .jrAddListing.jrButton [class^="jrIcon"]:before {
	font-size: 15px;
	color: #fff;
	width: 23px;
}
.jr-page.jrPage.jrMyAccount .jrAddListing.jrButton [class^="jrIcon"]:before {
	width: 20px;
}
.jr-page.jrPage.jrMyAccount .jrDataList .jrGrid .jr-paid-buy.jrButton.jrSmall, .jr-page.jrPage.jrMyAccount .jrAddListing.jrButton {
	background: none;
	text-shadow: none !important;
	color: #fff !important;
	font-size: 15px !important;
	padding: 0px 20px;
	background-image: url(../images/bg-boton-row.png);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 31px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4ca6db;
	border-right-color: #4ca6db;
	border-bottom-color: #4ca6db;
	border-left-color: #4ca6db;
}
.jr-page.jrPage.jrMyAccount .jrAddListing.jrButton a {
	text-shadow: none !important;
	color: #fff !important;
	font-size: 15px !important;
	padding: 0px 5px;
}
.jr-page.jrPage.jrMyAccount .ui-state-default, .jr-page.jrPage.jrMyAccount .ui-widget-content .ui-state-default, .jr-page.jrPage.jrMyAccount .ui-widget-header .ui-state-default {
	background-color: #2661a3 !important;
	opacity: 0.7;
	color: #fff !important;
	background-image: none !important;
	border: none !important;
}
.jr-page.jrPage.jrMyAccount .jrMyAccount .ui-tabs-panel, .jr-page.jrPage.jrMyAccount .ui-tabs .ui-tabs-panel {
	padding: 0px !important;
}
.jr-page.jrPage.jrMyAccount .ui-tabs .ui-tabs-panel .jrDataList {
	border: none !important;
}
.jr-page.jrPage.jrMyAccount .ui-tabs .ui-tabs-panel .jr-layout-outer.jrGrid {
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #d0d0d0 !important;
	margin: 0px !important;
}
.jr-page.jrPage.jrMyAccount .ui-state-default a, .jr-page.jrPage.jrMyAccount .ui-widget-content .ui-state-default a, .jr-page.jrPage.jrMyAccount .ui-widget-header .ui-state-default a {
	color: #fff !important;
}
.jr-page.jrPage.jrMyAccount .jrTabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected, .jr-page.jrPage.jrMyAccount .jrTabs.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #2661a3 !important;
	opacity: 1 !important;
}
.main-layer {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a1a1a1;
}
.jr-page.jrPage.jrListings.jrBlogview {
	padding-top: 30px !important;
}
.jr-page.jrPage.jrListings.jrBlogview  .jrPathway {
	margin-bottom: 55px;
}
.jr-page.jrPage.jrListings.jrBlogview  .jrPathway,  .jr-page.jrPage.jrListings.jrBlogview  .jrPathway a {
	font-size: 15px;
	color: #000;
	width: auto !important;
}
.jr-page.jrPage.jrListings.jrBlogview .contentheading {
	font-size: 29px;
	font-weight: normal;
	color: #353536;
	line-height: normal !important;
	margin-bottom: 40px;
}
.jr-page.jrPage.jrListings.jrBlogview .jrListScope.jrRoundedPanel,
.jrListScope.jrRoundedPanel
 {
	background-image: url(../images/bg-subpanel.gif);
	padding: 17px !important;
	border-radius: 0px !important;
}
.jr-page.jrPage.jrListings.jrBlogview .jrListScope.jrRoundedPanel  .jrListSearch ,
.jrListSearch 
{
	background-color: #f7f7f7 !important;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 15px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left !important;
}
.jr-page.jrPage.jrListings.jrBlogview .jrListScope.jrRoundedPanel .jrListSearch input.jrText,
 .jrListSearch input.jrText  {
	width: 40% !important;
	border: 1px solid #CCC !important;
}
.jr-page.jrPage.jrListings.jrBlogview .jrListScope.jrRoundedPanel .jrListSearch  .jr-search.jrButton  .jrIconSearch:before 
,
 .jrListSearch  .jr-search.jrButton  .jrIconSearch:before 
{
	color: #fff;
}
.jr-page.jrPage.jrListings.jrBlogview .jrListScope.jrRoundedPanel .jrListSearch  .jr-search.jrButton,
 .jrListSearch  .jr-search.jrButton 
 {
	background: none;
	line-height: 28px;
	color: #FFF;
	background-image: url(../images/bg-fondo-boton-azul.png);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 0px 20px !important;
	border: 1px solid #6fa5d8 !important;
	text-shadow: none !important;
}
.jr-page.jrPage.jrListings.jrBlogview .jrListScope.jrRoundedPanel  .jrListSearch a {
	font-size: 15px !important;
	color: #4f8bce !important;
}
.jr-layout-outer.jrListItem.row1, .jr-layout-outer.jrListItem.row2 {
	border: 1px solid #d2d2d2 !important;
	background-color: #fcfcfd !important;
	position: relative;
	padding-top: 60px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px !important;
}
.jr-layout-outer.jrListItem .jrContentTitle a {
	color: #fff !important;
}
.jr-layout-outer.jrListItem .jrContentTitle {
	background-color: #4f8bce;
	color: #FFF !important;
	font-size: 20px !important;
	padding: 5px 2% !important;
	position: absolute;
	width: 97%;
	top: 0px;
}
.jr-layout-outer.jrListItem .jrOverallRatings {
	clear: none !important;
}
.jr-layout-outer.jrListItem  .jrCustomFields {
	width: 58%;
	clear: none;
	float: left;
}
.jr-page.jrPage.jrListings.jrBlogview  .jr-pagenav.jrGrid.jrPagination.jrPaginationTop {
	font-size: 15px !important;
	color: #353536;
	margin-bottom: 40px;
}
.jr-page.jrPage.jrListings.jrBlogview .jrOrdering {
	position: relative;
	text-align: left;
}
.jr-page.jrPage.jrListings.jrBlogview  .jr-pagenav.jrGrid.jrPagination.jrPaginationTop select {
	display: block;
	-webkit-appearance: none;
	background-color: transparent;
	box-sizing: border-box;
	align-items: center;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	background-image: url(../images/select-corner.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
	margin-right: 0px !important;
	float: right;
	width: 62% !important;
	position: absolute;
	right: 0px;
	top: -10px;
}
.jr-layout-outer.jrListItem .jrListingInfo {
	position: absolute;
	right: 20px;
	z-index: 99;
	top: 8px;
	color: #fff;
}
.jr-layout-outer.jrListItem .jrListingInfo  [class^="jrIcon"]:before {
	color: #fff !important;
}
.jr-layout-outer.jrListItem  .jrListingThumbnail {
	float: left !important;
	margin: 0px 3%;
}
