a:link, a:visited {
    color: #c4231c;
}

#headerWrapper {
	color: #fff;
	background: #c4231c;
	background-image: -moz-linear-gradient(top, #781410, #c4231c);
	background-image: -o-linear-gradient(top, #781410, #c4231c);
	background-image: -ms-linear-gradient(top, #781410, #c4231c);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #781410), color-stop(1, #c4231c));
	background-image: -webkit-linear-gradient(#781410, #c4231c);
	background-image: linear-gradient(top, #781410, #c4231c);
	box-shadow: 1px 0 5px #4c3f27;
}

#headerWrapper a:link, 
#headerWrapper a:visited {
	color: #f6d0ce;
}

#footerWrapper {
	background: #781410;
	background-image: -moz-linear-gradient(top, #c4231c, #781410);
	background-image: -o-linear-gradient(top, #c4231c, #781410);
	background-image: -ms-linear-gradient(top, #c4231c, #781410);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #c4231c), color-stop(1, #781410));
	background-image: -webkit-linear-gradient(#c4231c, #781410);
	background-image: linear-gradient(top, #c4231c, #781410);
	box-shadow: 0 0 2px #4c3f27;
	padding: 20px 0 5px;
	color: #fff;
}

#footerWrapper a:link, 
#footerWrapper a:visited {
	color: #f6d0ce;
}

#logo a h1 {
  color: #fff;
	text-shadow: 0 0 1px #333;
}

#nav {
	color: #444;
	background: #eee;	
	background-image: -moz-linear-gradient(top, #fefefe, #bdbdbd);
	background-image: -o-linear-gradient(top, #fefefe, #bdbdbd);
	background-image: -ms-linear-gradient(top, #fefefe, #bdbdbd);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #fefefe), color-stop(1, #bdbdbd));
	background-image: -webkit-linear-gradient(#fefefe, #bdbdbd);
	background-image: linear-gradient(top, #fefefe, #bdbdbd);
}

#nav ul li a:link, 
#nav ul li a:visited {
	color: #444;
	text-shadow: 1px 1px #eee;
}

#nav > ul > li > a:hover,
#nav > ul > li.active.current > a {
	background: #ddd;
	background-image: -moz-linear-gradient(top, #aaa, #ccc);
	background-image: -o-linear-gradient(top, #aaa, #ccc);
	background-image: -ms-linear-gradient(top, #aaa, #ccc);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #aaa), color-stop(1, #ccc));
	background-image: -webkit-linear-gradient(#aaa, #ccc);
	background-image: linear-gradient(top, #aaa, #ccc);
	-moz-box-shadow: 1px -1px 2px #555, -1px -1px 2px #555;
	-webkit-box-shadow: 1px -1px 2px #555, -1px -1px 2px #555;
	box-shadow: 1px -1px 2px #555, -1px -1px 2px #555;
}

.moduletable h3,
.moduletable_menu h3 {
	border-bottom: 1px solid #c4231c;
}

.moduletable_rounded h3 {
	border-bottom: 1px solid #c4231c;
}

.moduletable_rounded_light h3 {
	border: 1px solid #f7746d;
}

.moduletable_rounded_dark h3 {
	border: 1px solid #c4231c;
}

.moduletable_rounded_light h3,
.moduletable_rounded_light_outside h3 {
	color: #444;
	background-color: #f7746d;
	background-image: -moz-linear-gradient(top, #ec5048, #f7746d);
	background-image: -o-linear-gradient(top, #ec5048, #f7746d);
	background-image: -ms-linear-gradient(top, #ec5048, #f7746d);	
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #ec5048), color-stop(1, #f7746d));
	background-image: -webkit-linear-gradient(#ec5048, #f7746d);
	background-image: linear-gradient(top, #ec5048, #f7746d);
}

.moduletable_rounded_dark h3,
.moduletable_rounded_dark_outside h3 {
	color: #eee;
	background-color: #781410;
	background-image: -moz-linear-gradient(top, #781410, #c4231c);
	background-image: -o-linear-gradient(top, #781410, #c4231c);
	background-image: -ms-linear-gradient(top, #781410, #c4231c);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #781410), color-stop(1, #c4231c));
	background-image: -webkit-linear-gradient(#781410, #c4231c);
	background-image: linear-gradient(top, #781410, #c4231c);
}

.moduletable_shadowbox_light h3 {
	background: #f7746d;
	background: rgba(247, 116, 109, 0.7);
	color: #444;
}

.moduletable_shadowbox_dark h3 {
	background: #6a0e0b;
	background: rgba(106, 14, 11, 0.7);
	color: #eee;
}

#footermenu ul.menu li a:link, 
#footermenu ul.menu li a:visited {
	color: #f6d0ce;
	border-color: #eee;
}

#footermenu ul.menu li a:hover {
	text-decoration: underline;
}